certifi==2019.11.28
chardet==3.0.4
decorator==4.4.2
idna==2.9
imageio==2.8.0
imageio-ffmpeg==0.4.1
moviepy==1.0.0
numpy==1.18.1
Pillow==7.0.0
proglog==0.1.9
pydub==0.23.1
requests==2.23.0
termcolor==1.1.0
tqdm==4.43.0
urllib3==1.25.8
